@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	font-family: "Roboto mono", monospace;
}

html,
body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #f5f5f5;
}

#header {
	font-style: normal;
	color: #181818;
	height: 80px;
	max-height: 80px;
	width: auto;
	min-width: 100%;
	text-align: center;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center; /* vetical alignment */
	align-items: center; /* horizontal alignment */
	height: calc(100% - (80px + 30px));
	padding: 20px;
}

#footer {
	font-size: small;
	font-weight: 300;
	color: #1e1e1e;
	height: 30px;
	max-height: 30px;
	width: auto;
	min-width: 100%;
	padding: 5px;
	text-align: center;
	box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#canvas {
	border: 1px solid #1e1e1e;
	margin-right: 20px;
}

.controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	align-items: center;
	max-width: 200px;
}

.controls .select,
.controls button {
	margin: 30px;
	width: 100%;
}

.select label {
	margin-top: 15px;
	font-size: 15px;
	color: #333;
	text-align: left;
	width: 90%;
}

.controls select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
}

.select {
	height: 50px;
}

.controls button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #5c6bc0;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
	cursor: pointer;
	height: 50px;
}

button:hover {
	background: #445199;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	#canvas {
		margin-bottom: 20px;
	}
}
